name: Deployment Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

env:
  DEPLOYMENT_CONDITION: ${{ github.event_name == 'push' && !contains(toJSON(github.event.commits.*.message), '#skip') }}

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    outputs:
      tag_release_can_run: ${{steps.final.outcome == 'success'}}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with: 
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - name: lint
        run: npm run eslint
      - name: build
        run: npm run build
      - name: test
        run: npm run test
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run e2e tests
        run: npm run test:e2e
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
      - name: Deploy to render
        id: final
        uses: JorgeLNJunior/render-deploy@v1.4.7
        if: ${{env.DEPLOYMENT_CONDITION == 'true' }}
        with:
          service_id: ${{ secrets.RENDER_SERVICE_ID }}
          api_key: ${{ secrets.RENDER_API_KEY }}
          wait_deploy: true 
  tag_release:
    needs: [simple_deployment_pipeline]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{needs.simple_deployment_pipeline.outputs.tag_release_can_run == 'true'}}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: '0'
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@4ed44965e0db8dab2b466a16da04aec3cc312fd8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
  notify_discord:
    needs: [tag_release]
    runs-on: ubuntu-latest
    if: ${{env.DEPLOYMENT_CONDITION == 'true'}}
    steps:
      - name: Discord Success Notification
        uses: hunghg255/action-notifications@master
        if: needs.tag_release.result == 'success'
        with:
          discord_webhook: ${{ secrets.DISCORD_WEBHOOK }}
          title: New build deployed
          description: Test at https://full-stack-open-pokedex-w6g2.onrender.com
      - name: Discord Failure Notification
        uses: hunghg255/action-notifications@master
        if: needs.tag_release.result != 'success'
        with:
          discord_webhook:: ${{ secrets.DISCORD_WEBHOOK }}
          title: New build deployement
          status: failure
